snippet ro "Republika Ostrowska"
Republika Ostrowska
endsnippet

snippet tm "Tomasz Mieloch"
Tomasz Mieloch
endsnippet

snippet footer "Stopka" b
-- 
Republika Ostrowska | http://republikaostrowska.pl	
ul. Kościelna 4/4, 63-400 Ostrów Wielkopolski
+48 695 748 228  ::  +48 62 738 11 18
endsnippet


