snippet fun "Function" !w
function${1:name}(${2:arguments}) {
	$0
}${3:,}
endsnippet



snippet bmiv "Marionette.ItemView"
${1:Controller}.${2:View} = Marionette.ItemView.extend({
	template: "#${0:template-id}"
});
endsnippet
