[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "nerdtree"]
	path = nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "nerdcommenter"]
	path = nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim-cucumber"]
	path = vim-cucumber
	url = https://github.com/tpope/vim-cucumber.git
[submodule "bundle/vim-cucumber"]
	path = bundle/vim-cucumber
	url = https://github.com/tpope/vim-cucumber.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/TailMinusF"]
	path = bundle/TailMinusF
	url = https://github.com/vim-scripts/TailMinusF.git
  ignore = dirty
[submodule "bundle/vim-twilight"]
	path = bundle/vim-twilight
	url = https://github.com/matthewtodd/vim-twilight
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "bundle/vim-endwise"]
	path = bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "bundle/textile.vim"]
	path = bundle/textile.vim
	url = https://github.com/timcharper/textile.vim.git
  ignore = dirty
[submodule "bundle/vim-pastie"]
	path = bundle/vim-pastie
	url = https://github.com/tpope/vim-pastie.git
  ignore = dirty
[submodule "bundle/zencoding-vim"]
	path = bundle/zencoding-vim
	url = https://github.com/mattn/zencoding-vim.git
[submodule "bundle/gist-vim"]
	path = bundle/gist-vim
	url = https://github.com/mattn/gist-vim.git
[submodule "bundle/vim-haml"]
	path = bundle/vim-haml
	url = https://github.com/tpope/vim-haml.git
[submodule "bundle/vim-extradite"]
	path = bundle/vim-extradite
	url = https://github.com/int3/vim-extradite.git
[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/jslint.vim"]
	path = bundle/jslint.vim
	url = https://github.com/hallettj/jslint.vim.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/vim-ragtag"]
	path = bundle/vim-ragtag
	url = https://github.com/tpope/vim-ragtag.git
  ignore = dirty
[submodule "bundle/vim-rvm"]
	path = bundle/vim-rvm
	url = https://github.com/tpope/vim-rvm.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
  ignore = dirty
[submodule "bundle/vim-bundler"]
	path = bundle/vim-bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule "ctrlp.vim"]
	path = ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/vim-pasta"]
	path = bundle/vim-pasta
	url = https://github.com/sickill/vim-pasta.git
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/mustache.vim"]
	path = bundle/mustache.vim
	url = https://github.com/juvenn/mustache.vim.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "bundle/vim-slim"]
	path = bundle/vim-slim
	url = https://github.com/bbommarito/vim-slim.git
[submodule "bundle/vim-less"]
	path = bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/Yankring.vim"]
	path = bundle/Yankring.vim
	url = https://github.com/vim-scripts/YankRing.vim
  ignore = dirty
[submodule "bundle/vim-conque"]
	path = bundle/vim-conque
  url = https://github.com/rson/vim-conque.git
  ignore = dirty
[submodule "bundle/vim-ruby-conque"]
	path = bundle/vim-ruby-conque
	url = https://github.com/skwp/vim-ruby-conque.git
  ignore = dirty
[submodule "bundle/codeschool-vim-theme"]
	path = bundle/codeschool-vim-theme
	url = https://github.com/29decibel/codeschool-vim-theme.git
[submodule "bundle/Lucius"]
	path = bundle/Lucius
	url = https://github.com/vim-scripts/Lucius.git
[submodule "bundle/Mustang2"]
	path = bundle/Mustang2
	url = https://github.com/vim-scripts/Mustang2.git
[submodule "bundle/mustang-vim"]
	path = bundle/mustang-vim
	url = https://github.com/croaker/mustang-vim.git
[submodule "bundle/webapi-vim"]
	path = bundle/webapi-vim
	url = https://github.com/mattn/webapi-vim.git
[submodule "bundle/vim-eunuch"]
	path = bundle/vim-eunuch
	url = git://github.com/tpope/vim-eunuch.git
[submodule "bundle/vim-lilypond-integrator"]
	path = bundle/vim-lilypond-integrator
	url = https://github.com/gisraptor/vim-lilypond-integrator.git
